/* Home.css */
form#create-employee {
  max-width: 400px;
  margin: 0 auto 50px;
  width: 100%;
}

.home-title {
  text-align: center;
}

.nav-link {
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #2196f3;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 500;
  width: fit-content;
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-link:hover {
  background-color: #0d8aee;
}

/* Ajustement du conteneur pour la page d'accueil */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 200px;
}

/* Styles pour React Select */
.react-select-container {
  margin-bottom: 15px;
}

.react-select__control {
  border-radius: 4px !important;
  border: 1px solid #ddd !important;
  box-shadow: none !important;
  min-height: 38px !important;
}

.react-select__control:hover {
  border-color: #3498db !important;
}

.react-select__control--is-focused {
  box-shadow: 0 0 0 1px #3498db !important;
  border-color: #3498db !important;
}

.react-select__menu {
  z-index: 10 !important;
  border-radius: 4px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
}

.react-select__option {
  padding: 8px 12px !important;
}

.react-select__option--is-selected {
  background-color: #3498db !important;
}

.react-select__option--is-focused:not(.react-select__option--is-selected) {
  background-color: rgba(52, 152, 219, 0.1) !important;
}

/* Styles pour DatePicker */
.react-datepicker-wrapper {
  width: 100%;
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-control:focus {
  border-color: #3498db;
  outline: none;
}

/* Style pour le bouton "Save" */
form#create-employee button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin: 20px auto 0;
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form#create-employee button[type="submit"]:hover {
  background-color: #0d8aee;
} 

.logo {
    width: 100px;
    height: auto;
    margin-right: 10px;
    
}

.logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
}